.ratingContainer {
    display: flex;
    width: auto;
    padding: 0px 0px 10px 10px;

    background-color: #FFF;
    
    img {
        width: 20px;
        height: auto;
        display: block;
    }
}